@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root
{
   /* Title Variables */
   --banner-height: 140px; /* KEEP THIS */
   --banner-width: 200px;
   --title-box-padding: 1px;
   --corner-radius: 8px;
   --box-margin: 40px;
   --primary-box-padding: 1em;
   --box-height: 60%;
   --box-margin: 40px;
   --voting-area-width: 60%;
   --counter-height: 70px;
   --seperator: 10%;
   --button-width: 40%;
}

#title
{
    margin: auto;
    padding-top: var(--title-box-padding);
    padding-bottom: var(--title-box-padding);
    background-color: aqua;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: var(--banner-width);
    border-radius: var(--corner-radius);
    border: 2px grey solid;
}

#main
{
    align-items: top;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    height: calc(100% - var(--banner-height));
    position: absolute;
    padding: var(--box-margin);
    /* background-color: aquamarine; */
}

#VotingTableContainer
{
    border: 2px grey solid;
    background-color: bisque;
    padding: var(--primary-box-padding);
    height: calc(var(--box-height) + var(--box-margin) * 2 - var(--primary-box-padding) * 2);
    width: calc(var(--voting-area-width) - var(--box-margin) * 2 - var(--primary-box-padding) * 2);
    position: absolute;
    border-radius: var(--corner-radius);
}

#Sidebar
{
    border: 2px grey solid;
    padding: var(--primary-box-padding);
    background-color: yellow;
    height: calc(var(--box-height) + var(--box-margin) * 2 -  var(--primary-box-padding) * 2);
    width: calc(100% - (var(--box-margin) * 2) - var(--voting-area-width) - 8% - var(--primary-box-padding) * 2);
    position: absolute;
    left: var(--voting-area-width);
    border-radius: var(--corner-radius);
}

#VoteCounterArea
{
    background-color: coral;
    width: 100%;
    height: calc(var(--counter-height) + 5%);
    border-radius: var(--corner-radius);
}

#CounterLabel
{
    width: calc(100% - var(--counter-height));
    /* background-color: darkseagreen; */
    height: 100%;
    margin: auto;
    padding-top: 11%;
    font-weight: bold;
}


#Vote-Counter
{   
    background-color: fuchsia;
    height: var(--counter-height);
    width: var(--counter-height);
    position: absolute;
    right: calc(0% + var(--primary-box-padding) + 2%);
    top: calc(0% + var(--primary-box-padding) + 2%);
    border-radius: var(--corner-radius);
    border: 2px grey solid;
}

#seperator
{
    height: var(--seperator);
    /* background-color: darkgreen; */
}

#NextVoterButton
{
    white-space: normal;
    border: none;
    width: var(--button-width);
    height: var(--seperator);
    font-family: 'Fira Sans', sans-serif;
    border-radius: var(--corner-radius);
}

#NextVoterButton:hover
{
    background-color: darkgrey;
}

#SeeResultsButton
{
   bottom: calc(0% + var(--primary-box-padding));
   left: calc(0% + var(--primary-box-padding));
   position: absolute;
   white-space: normal;
   border: none;
   width: var(--button-width);
   height: var(--seperator);
   font-family: 'Fira Sans', sans-serif;
   border-radius: var(--corner-radius);
}

#SeeResultsButton:hover
{
    background-color: darkgrey;
}