/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"); */
* {
    font-family: 'Roboto', sans-serif;
}

/* Overall Layout */
.layout {
    width: 100%;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 15px;
}

header {
    background-color: lightgray;
    margin: auto;
    grid-area: header;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* width: 70%; */
    flex-wrap: wrap;
    margin: auto;
}

.grow1 {
    flex-grow: 1;
}

#CandidateBox {
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    /* padding-left: 1px; */
}

.grow2 {
    flex-grow: 2;
}

#Candidate-Content {
    display: flex;
    gap: 10px;
}

.grow3 {
    flex-grow: 1
}

#Input-Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grow4 {
    flex-grow: 1;
}


#Candidate-Title {
    text-align: center;
}

#Candidate_list {

}



#Input-box-label {

}

#candidate-input-field {

}

#add-candidate-button {
    width: calc(100% - var(--text-input-width));
    height: var(--text-input-height);
    left: var(--text-input-width);
    /* font-family: "Fira Sans", sans-serif; */
    border: none;
    padding: none;
    white-space: normal;
}

#add-candidate-button:hover {
    background-color: darkgrey;
}

#start-election-button {
    width: calc(100% - var(--text-input-width));
    height: var(--text-input-height);
    white-space: normal;
}

#start-election-button:hover {
    background-color: darkgrey;
}

#AboutBox {
    background-color:lightgrey;
    flex-grow: 1;
}

footer {
    grid-area: footer;
    font-size: smaller;
    font-weight: lighter;
    margin: auto;
}
