* {
    font-family: Inter, sans-serif;
    background-color: #f8f5f2;
}

:root {
    /* Title Variables */
    --banner-height: 140px; /* KEEP THIS */
    --banner-width: 200px;
    --title-box-padding: 1px;
    --corner-radius: 8px;
    --box-margin: 40px;
    --primary-box-padding: 1em;
    --box-height: 90%;
    --box-margin: 40px;
    --results-box-width: 60%;
    --counter-height: 70px;
    --seperator: 10%;
    --button-width: 40%;
    --summary-height: calc(100px + 4%);
    --submission-box-height: 5%;
}

header {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#ResultAnnouncement {
    border: 2px solid #000;
    background-color: white;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#ElectionSummary {
    text-align: center;
    background-color: white;
    height: var(--summary-height);
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ElectionTableContainer {
    background-color: chartreuse;
    height: calc(100% - var(--summary-height));
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    background-color: #06f;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    grid-area: footer;
    font-size: smaller;
    font-weight: light;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}